body {
  /* scroll-behavior: smooth; */
  display: flex;
  font-family: 'Archivo', sans-serif;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-betwee 33wt sn;
  margin: 0;
  /* width: -webkit-fill-available; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.containerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 100vh;
}

.containerSection {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}

#firs {
  display: flex;
  flex: 1;
  height: 81vh;
  margin-top: 15vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}

#containerLinkedin {
  position: absolute;
  width: 98.7vw;
  height: 100vh;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.first h1 {
  font-size: 4em;
  opacity: 1;
  animation: fadeIn 3s ease-in-out;
}

.first h3 {
  font-weight: lighter;
  font-size: 2em;
  color: #825973fa;
  animation: fadeIn 3s ease-in-out;
}

.first h2 {
  margin-left: 17%;
  margin-top: -10em;
  position: fixed;
  font-weight: bolder;
  cursor: pointer;
}

.first a {
  align-self: flex-end;
  display: flex;
  width: 10vw;
  height: 10vh;
  position: fixed;
}

.second {
  font-family: 'Archivo', sans-serif;
  position: fixed;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: black;
  opacity: 1;
  display: none;
  left: -120em;
  z-index: 99;
  animation: leftRight 1s ease-in-out;
}

@keyframes leftRight {
  0% {
    left: -120em;
  }
  100% {
    left: 0;
  }
}

@keyframes rightLeft {
  0% {
    left: 0;
  }
  100% {
    left: -120em;
  }
}

.div-one {
  display: flex;
  flex-direction: column;
  margin-left: 21%;
}

.div-one a {
  font-size: 52px;
  font-weight: bold;
  margin-top: 5%;
  cursor: pointer;
  text-decoration: none;
}

.div-two {
  margin-top: 7%;
  margin-left: 21%;
}

#textSix {
  display: flex;
}

.div-two a {
  font-weight: lighter;
  font-size: 23px;
  cursor: pointer;
  text-decoration: none;
}

#containerDivs {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.second img {
  width: 3em;
  margin-left: 1.5em;
  margin-top: 25em;
  cursor: pointer;
  opacity: 0.55;
}

.second img:hover {
  opacity: 1;
}

.second h4 {
  color: rgba(183, 181, 181, 0.938);
  font-size: 25px;
  opacity: 1;
}

.second a {
  color: rgba(183, 181, 181, 0.938);
  opacity: 1;
  cursor: pointer;
}

.second a:hover {
  color: white;
}

#closeButton {
  display: flex;
  cursor: pointer;
  width: 4vw;
  height: 6vh;
  margin: 3vh 2vw;
  align-self: center;
}

#sobre {
  margin-top: 40vh;
  margin-bottom: 20vh;
}

.third h1 {
  font-size: 4em;
  opacity: 1;
}

.third p {
  font-size: x-large;
  color: #825973fa;
  margin-right: 4vw;
  font-weight: lighter;
}

#fourrth {
  animation: fadeIn 3s ease-in-out;
  opacity: 1;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.fourth h1 {
  font-size: 4em;
  opacity: 1;
}

.fourth div {
  display: flex;
  justify-content: space-between;
  margin-right: 4vw;
  margin-bottom: 5vh;
}

.fourth h2 {
  font-weight: bolder;
  color: #82597394;
}

.fourth img {
  width: 7vw;
  height: 10vh;
}

#containerLanguage {
  flex-direction: column;
  margin: 3vw 3vh;
}

#six {
  animation: fadeIn 3s ease-in-out;
  opacity: 1;
  margin-top: 30vh;
  margin-bottom: 40vh;
}

.sixth h1 {
  font-size: 4em;
  opacity: 1;
}

.sixth h2 {
  color: #82597394;
  font-size: 34px;
  opacity: 1;
}

#textFive a {
  cursor: pointer;
  text-decoration: none;
  color: #825973;
}

#textFive a:hover {
  color: #825973;
  opacity: 0.5;
}

#textSix a {
  font-weight: lighter;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
}

#textSix a:hover {
  color: grey;
}

#textThree {
  display: flex;
  flex-direction: column;
}

#textTwo {
  animation: fadeIn 3s ease-in-out;
  opacity: 1;
}

#menu {
  width: 10vw;
  height: 10vh;
  cursor: pointer;
}

#menu:hover {
  opacity: 0.5;
}

#linkedin:hover {
  opacity: 0.5;
}

#cubos {
  width: 50%;
  opacity: 1;
  display: flex;
  align-self: center;
  margin-left: 9.5vw;
  animation: fadeIn 3s ease-in-out;
}

@media screen and (max-width: 429px) {
  section {
    height: 42em;
    overflow-x: hidden;
  }

  .first h2 {
    margin-left: 3%;
    margin-top: 2em;
  }

  .first h1 {
    font-size: 2em;
  }

  .first h3 {
    font-size: 1em;
    z-index: 1;
  }

  #textOne {
    margin-top: 25%;
    position: absolute;
    z-index: 1;
  }

  .third h1 {
    font-size: 2em;
  }

  .third p {
    font-size: large;
    width: 15em;
    margin-top: 4em;
  }

  #menu {
    width: 5em;
    margin-top: 25em;
  }

  #linkedin {
    display: none;
  }

  #cubos {
    float: right;
    margin-left: 7.1em;
    margin-top: 15.2em;
    width: 83%;
    height: 36%;
    display: flex;
    z-index: 0;
    position: absolute;
  }
}
