body{
    scroll-behavior: smooth;
    font-family: 'Archivo', sans-serif;
    width: -webkit-fill-available;
    overflow-x: hidden;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

@keyframes fadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; }
        }


.first h1{
    font-size: 4em;
    margin-left: 17%;
    margin-top: -0.3em;  
    opacity: 1;
    animation: fadeIn 3s ease-in-out;
}

.first h3{
    margin-top: 10em;
    margin-left: 17%;
    font-weight: lighter;
    font-size: 2em;
    color: #825973fa;
    animation: fadeIn 3s ease-in-out;
}

.first h2{
    margin-left: 17%;
    margin-top: -8em;
    position: fixed;
    font-weight: bolder;
    cursor: pointer;
}

.first a{
    float: right;
    width: -webkit-fill-available;
    position: fixed;
}

.second{
    font-family: 'Archivo', sans-serif;
    position: fixed;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: black;
    opacity: 1;
    display: none;
    left: -120em;
    z-index: 99;
    margin-top: -31em;
    animation: leftRight 1s ease-in-out;
}

@keyframes leftRight {
    0% { left: -120em; }
    100% { left: 0; }
    }

@keyframes rightLeft {
    0% { left: 0; }
    100% { left: -120em; }
    }
    


.div-one{
    margin-top: 11em;
    margin-left: 20%;
}

.div-one a{
    display: block;
    font-size: 52px;
    font-weight: bold;
    margin-top: 8%;
   
}

.div-two{
    margin-top: 11%;
    margin-left: 21%;
}

.div-two a{
    font-weight: lighter;
    font-size: 23px;
    
}
.second img{
    width: 3em;
    position: absolute;
    margin-left: 1.5em;
    margin-top: 25em;
    cursor: pointer;
    opacity: 0.55;
}

.second img:hover{
    opacity: 1.0;
}

.second h4{
    color: rgba(183, 181, 181, 0.938);
    font-size: 25px;
    opacity: 1.0;
}


.second a{
    color: rgba(183, 181, 181, 0.938);
    opacity: 1.0;
    cursor: pointer;

}

.second a:hover{
    color: white;
}

.third h1{
    font-size: 4em;
    position: absolute;
    opacity: 1;
    
}

.third p {
    position: absolute;
    margin-top: 7em;
    font-size: x-large;
    color: #825973fa;
    width: 42em;
    font-weight: lighter;
}

#fourrth{
    text-align: center;
    width: -webkit-fill-available;
    margin: 40em 0 40em 0;
    animation: fadeIn 3s ease-in-out;
    opacity: 1;
    position: absolute;
}

.fourth h1{
    font-size: 4em;
    position: absolute;
    opacity: 1;
    margin-left: 17%;
    margin-top: -6%;
}

.fourth div{
    display: inline-flex;
    width: 92em;
    text-align: center;
    justify-content: center;
}

.fourth h2{
    margin: 3em;
    text-align: center;
    color: #82597394;
}

.fourth img{
    width: 8em;
    height: 8em;
    margin: 3em;
    display: inline-flex;
}

#fif{
    width: -webkit-fill-available;
    animation: fadeIn 3s ease-in-out;
    opacity: 1;
    margin: 90em 0 0 0;
    position: relative;
}

.fifth h1{
    font-size: 4em;
    opacity: 1;
    margin-left: 17%;
    margin-top: -6%;
}

.fifth h2{
    color: #82597394;
    font-size: 34px;
    opacity: 1.0;
    margin-top: -1.5em;
    max-width: 9em;
    margin-left: 17%;
}

#six{
    width: -webkit-fill-available;
    animation: fadeIn 3s ease-in-out;
    opacity: 1;
    margin: 40em 0 20em 0;
    position: relative;
}

.sixth h1{
    font-size: 4em;
    opacity: 1;
    margin-left: 17%;
    margin-top: -6%;
}

.sixth h2{
    color: #82597394;
    font-size: 34px;
    opacity: 1.0;
    margin-top: -1.5em;
    margin-left: 17%;
}

#textFive a{
    cursor: pointer;
    text-decoration: none;
    color: #82597394;
}

#textFive a:hover{
    color: #825973;
}

#textSix{
    margin-top: 5%;
    margin-left: 17%;
}

#textSix a{
    font-weight: lighter;
    font-size: 17px;
    cursor: pointer;
}

#textSix a:hover{
    color: grey;
}

#textThree{
    display: block;
    text-align: center;
    margin: 0 0 0 -1%;
    position: absolute;
    width: -webkit-fill-available;
}

#textTwo{
    animation: fadeIn 3s ease-in-out;
    margin: 60em 0 0 17%;
    opacity: 1;
    display: block;
}

#menu{
    position: fixed;
    width: 7em;
    margin-left: 0;
    margin-top: 5em;
    cursor: pointer;
}  

#menu:hover{
    opacity: .5;
}

#linkedin{
    width: 3em;
    height: 10em;
    margin-top: -12em;
    display: inline;
    float: right;
    cursor: pointer;
}

#linkedin:hover{
    opacity: .5;
}

#cubos{
    float: right;
    margin-right: 13%;
    margin-left: 13%;
    margin-top: 1em;
    margin-bottom: 3em;
    width: 62%;
    opacity: 1;
    animation: fadeIn 3s ease-in-out;
}

@media screen and (max-width: 429px) {
    section{
        height: 42em;
        overflow-x: hidden;
    }

    .first h2{
        margin-left: 3%;
        margin-top: 2em;
    }

    .first h1{
        font-size: 2em;
    }

    .first h3{
        font-size: 1em;
        z-index: 1;
    }

    #textOne{
        margin-top: 25%;
        position: absolute;
        z-index: 1;
    }

    .third h1{
        font-size: 2em;
    }

    .third p{
        font-size: large;
        width: 15em;
        margin-top: 4em;
    }

    #menu{
        width: 5em;
        margin-top: 25em;

    }

    #linkedin{
        display: none;
    }

    #cubos{
        float: right; 
        margin-left: 7.1em;
        margin-top: 15.2em;
        width: 83%;
        height: 36%;
        display: flex;
        z-index: 0;
        position: absolute;
    
    }
  }